@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }
  
  .arrow.prev {
    left: -20px;
  }
  
  .arrow.next {
    right: -20px;
  }
  